*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.top{
    background: linear-gradient(-45deg, rgba(242, 113, 68, 1) 63%, rgba(38, 145, 191, 1) 63%);
    height: 20px;
    color: white;
    position: relative;
    overflow: hidden;
    font: 20px;
    display: flex;
    align-items: center;
}
.top p{
    animation: aman 10s linear infinite;
}
@keyframes aman{
    0%{
        position: absolute;
        transform: translateX(-100%);
    }
    100%{
        position: absolute;
        transform: translateX(700%);
    }
   
}


header{
    background: linear-gradient(45deg, rgba(242, 113, 68, 1) 63%, rgba(38, 145, 191, 1) 63%);
    height: 21px;
    display: flex;
    justify-content: space-evenly;
}
.number1{
    width: 48%;
}
.number2{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    font-size: 14px;
}
.number2 a{
    color: white;
    text-decoration: none;
}
.head{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
.fulllogo{
    width: 90px;
    height: 90px;
}
.fulllogo img{
    width: 100%;
    height: 100%;
}
.topfive ul{
    display: flex;
    align-items: center;
}
.topfive li{
    list-style: none;
}
.topfive a{
    text-decoration: none;
    padding: 0 18px;
    color:  rgba(242, 113, 68, 1) ;
    font-size: 20px;
}
button a{
text-decoration: none;
color: white;
}
button{
    background-color:  rgba(242, 113, 68, 1) ;
font-weight: 700;
padding: 6px 15px;
border: 1px solid yellow ;
border-radius: 5px;
font-size: 16px;
}
.bgimg{
    height: 530px;
    width: 100%;
    background-image: url(image/Hero\ Banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.bgimg2{
    height: 530px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.582);
}
.bgimg3{
    position: absolute;
    top: 100px;
    left: 100px;
}
.bgimg3 h1{
    color: rgba(242, 113, 68, 1);
    font-size: 60px;
  text-shadow: 2px 3px 7px rgb(0 0 0 / 85%);
}
.bgh1{
    width: 350px;
}
.hrone{
    color:  rgba(242, 113, 68, 1);
    border: 2.5px solid  rgba(242, 113, 68, 1);
}
.hrtwo{
    color: white;
    border: 1.5px solid white;
}
.bgimg3 p{
    color: #de4d18;
    font-size: 40px;
    font-weight: 700;
}
.p2 p{
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 52px;
}
.six{
    font-size: 80px;
    color: white;
}
.p1 {
    position: absolute;
    top: 150px;
}
.p0{
    height: 60px;
}
.bgimg button{
    background-color:  rgba(242, 113, 68, 1) ;
font-weight: 700;
padding: 6px 15px;
border: 1px solid yellow ;
border-radius: 5px;
font-size: 20px;
}
.explore{
    padding: 60px;
}
.exone{
    text-align: center;
    padding: 40px 0 0 0;
}
.extwo{
    display: flex;
    align-items: center;
    width: 95%;
    margin: auto;
    justify-content: space-around;
}
.exconone{
width: 50%;
}
.exconone h1{
    text-align: center;
    font-size: 25px;
}
.exconone p{
    font-size: 18px;
    padding: 3px 0;
    text-align: justify;
}
.exconone button{
    margin: 20px 00 0 0;
    padding: 8px 20px;
    font-size: 20px;
    background-color: #2691bf;
    border: solid 2px #f27144;
    font-weight: 600;
}
.extwo{
padding: 50px 0 0 0;
}
.success{
height: 600px;
display: flex;
justify-content: space-around;
align-items: center;
text-align: center;
background-color: #4a4646;

}
.succ1{
text-align: center;
background-color: #4a4646;
height: 80px;
padding: 20px 0;
color: white;
font-size: 20px;
}
.succ2{
    width: 400px;
    height: 400px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    padding: 30px 20px 20px 20px;
    color: #f27144;
    background-color: white;
}
.story p{
    padding: 20px 0 0 0;
    text-align: justify;
}
.starhead{
    padding: 30px 0 0  0;
    font-size: 20px;
}
.story2{
    height: 100px;
    text-align: center;
    font-size: 30px;
    color:#f27144 ;
    background-color:#4a4646 ;
}
.star01{
    color: rgba(0, 0, 0, 0.925);
}
.offer{
    height: 800px;
    background-color:#777272 ;
    color: white;
}
.offhead{
    text-align: center;
    padding: 40px 0 20px 0;
}
.frontend{
    display: flex;
    align-items: center;
    padding: 0 0 0 60px;
    margin:  0 0 0 10px;
}
.frontend button{
    margin: 0 10px 0 0 ;
    padding: 10px 12px;
    background-color: white;
    border: 1px solid white;
    border-radius: 13px;
}
.frontend button a{
    color: #f27144;
    font-size: 20px;
}
.hea3 h3{
padding: 3px 0;
}
.hea3 a{
color: white;
/* text-decoration: none; */
padding: 0 0 0 3px;
}
.hea3 button{
    margin: 0 10px 0 0 ;
    padding: 10px 12px;
    margin: 20px 0 0  0;
    background-color: white;
    border: 1px solid white;
    border-radius: 13px;
}
.hea3 button a{
    color: #f27144;
    font-size: 19px;
}
.offhead2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 0 0;
}
.offcon{
    width: 40%;
    height: 580px;
}
.offcon h2{
    padding: 0 0 0 20px;
}
.offcon p{
    color: black;
    padding: 20px 0;
    width: 80%;
    font-weight: 600;
}
.comp2{
    width: 270px;
    height: 500px;
    background : linear-gradient(#de7450 ,#de7450 ,#498baa);
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px 0 0 ;
    box-shadow: 6px 6px #f27144;

}
.comp2 p{
    padding: 30px 0 30px 20px;
    text-align: justify;
    font-size: 14px;
    width: 80%;
    color: black;
}
.comp2 button{
    margin: 0 0 0 20px;
    background-color: white;
    padding: 3px 5px;
    border-radius: 13px;
    border: 1px solid white;
}
.comp button a{
    color: #f27144;
    font-size: 20px;
}
.comp{
    display: flex;
    align-items: center;
}

.compimg{
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.compimg img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.join{
    background-color: #4a4646;
    color: white;
    height: 620px;
}
.joinhead{
    text-align: center;
    padding: 40px 0 20px 0;
}
.joinmain{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 550px;
}
.join1{
    width: 45%;
}
.join1 p{
    font-size: 18px;
    padding: 20px 0 0 0;
}
.join2{
    background : linear-gradient(#de7450 ,#de7450 ,#498baa);
    height: 380px;
    width: 500px;
    border-radius: 15px;
    padding: 10px  00 0 0 ;
}
.join3{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.join3 label{
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0 10px 0;
}
.join3 input{
    padding: 10px 15px;
    border-radius: 10px;
    margin: 8px 0;
    border: 1px solid white;
}
.join2 button{
    margin: 30px 0 0 30px;
    background-color: white;
    border: 1px solid white;
    font-size: 18px;
    padding: 4px 10px;
    border-radius: 15px;
}
.join2 button a{
    color: #f27144;
}
.join2 h1{
    padding: 0px 0 20px 30px;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f1f1;
    height: 300px;
    padding: 0  0 0 60px;
}
.foot1{
    width: 20%;
    height: 220px;
}
.foot1 h1{
    padding: 10px 0 20px 0;
}
.foot1 a{
    text-decoration:none;
    color: black;
}
.foot1 p{
    padding:  0 0 8px 0;
    font-size: 16px;
}
.links a{
    font-size: 30px;
    margin: 0 8px;
    color: black;
}
.foot1 p :hover{
    text-decoration: underline;
}